<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Joan&family=Kaushan+Script&family=Kavivanar&family=Quando&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <title>Porfolio</title>
</head>
<body>
    <section>
        <header>
            <div class="header-cont">
                <div class="navbar" id="navbar-menu">
                    <div class="header-heading">
                        <p class="roboto-slab-bold">Sneha Rahate</p>
                    </div>
                    <div class="toggle-menu" id="menu">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <nav>
                        <div class="close-menu" id="menu-close">
                            <i class="fa-regular fa-circle-xmark"></i>
                        </div>
                        <ul id="show-menu">
                            <li class="nav-item" id="home"><a href="" class="roboto-slab-light">Home</a></li>
                            <li class="nav-item" id="about"><a href="/#about-display" class="roboto-slab-light">About</a></li>
                            <li class="nav-item" id="skills"><a href="/#skills-display" class="roboto-slab-light">Skills</a></li>
                            <li class="nav-item" id="projects"><a href="/#project-display" class="roboto-slab-light">Projects</a></li>
                            <li class="nav-item" id="certificates"><a href="javascript:void(0);" class="roboto-slab-light">Certificates</a></li>
                            <li class="nav-item" id="contact">
                                <a href="/#footer-display">
                                    <div class="nav-cont-btn">
                                        <div class="contact-icon">
                                            <i class="fa-regular fa-message" style="color: #ffffff;"></i>
                                        </div>
                                        <span class="contact-span" class="roboto-slab-light">Contact</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                
                <div class="header-info">
                    <div class="header-info-cont">
                        <div class="header-title">
                            <h1 class="roboto-slab-bold">Hello ! <br> Myself Sneha Manoj Rahate</h1>
                        </div>
                        <div class="typewriter">
                            <h1 class="writer"></h1>
                        </div>
                        <div class="header-socials">
                            <div class="mail">
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=sneharahate14@gmail.com">
                                    <div class="icon">
                                        <i class="fa-regular fa-envelope" style="color: #ffffff;"></i>
                                    </div>
                                </a>
                                <span class="roboto-slab-light">Mail</span>
                            </div>
                            <div class="leetcode">
                                <a href="https://leetcode.com/u/Sneha_Rahate_1404/">
                                    <div class="icon">
                                        <i class="fa-solid fa-code"></i>
                                    </div>
                                </a>
                                <span class="roboto-slab-light">Leetcode</span>
                            </div>
                            <div class="LinkedIn">
                                <a href="https://www.linkedin.com/in/sneharahate/">
                                    <div class="icon">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </div>
                                </a>
                                <span class="roboto-slab-light">LinkedIn</span>
                            </div>
                            <div class="gitHub">
                                <a href="https://github.com/SnehaRahate1404">
                                    <div class="icon">
                                        <i class="fa-brands fa-github"></i>
                                    </div>
                                </a>
                                <span class="roboto-slab-light">gitHub</span>
                            </div>
                        </div>
                        <div class="header-btns">
                            <div class="resume-btn">
                                <a href="/images/Sneha_Rahate_VIIT.pdf" class="roboto-slab-light">Resume &nbsp; <i class="fa-solid fa-download"></i></a>
                            </div>
                            <div class="contact-btn">
                                <a href="/#footer-display" class="roboto-slab-light">Let's connect &nbsp; <i class="fa-solid fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="/images/profile.jpeg" alt="" class="header-info-img neon-box">
                    </div>
                </div>
            </div>
        </header>
    </section>
    <section>
        <main>
            <div class="main-cont">
                <div class="about-sec" id="about-display" >
                    <div class="about-header">
                        <span class="roboto-slab-bold">About Me </span> <hr>
                    </div>
                    <div style="
                    display: flex;
                    justify-content: space-evenly;" class="about-res"
                    >
                        <div class="about-img">
                            <dotlottie-player class="about-animation"
                                src="https://lottie.host/8536e41c-cf43-4e39-bd48-748cd92036af/u48JrMqXuo.lottie"
                                background="transparent"
                                speed="1"
                                style="width: 400px; height: 400px"
                                loop
                                autoplay
                            ></dotlottie-player>
                        </div>
                        <div class="about-cont">
                            <div class="about-desc">
                                <p class="roboto-slab-regular">I am an enthusiastic Software Engineer and Full Stack Web Developer specializing in the MERN stack. Currently, I am pursuing a B.Tech degree in Computer Engineering at Vishwakarma Institute of Information Technology, Pune, with an impressive aggregate CGPA of 8.3.</p>
                            </div>
                            <div class="about-more">
                                <button id="about-btn" class="roboto-slab-regular">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <section id="aboutOverlay">
                        <div class="about-overlay">
                            <button id="close-about" class="roboto-slab-light">Close</button>
                            <div class="about-profile-img">
                                <img src="/images/profile.jpeg" alt="">
                            </div>
                            <div class="about-overlay-info">
                                <p class="roboto-slab-regular">I am an enthusiastic Software Engineer and Full Stack Web Developer specializing in the MERN stack. Currently, I am pursuing a B.Tech degree in Computer Engineering at Vishwakarma Institute of Information Technology, Pune, with an impressive aggregate CGPA of 8.3.</p>
                                <p class="roboto-slab-regular">I have also completed an Internship at Growdigi , where I worked as a FrontEnd Web Developer working on skills such as HTML , CSS , JS and Bootstrap. </p>
                                <a href="/images/internship.jpg"><button class="roboto-slab-light">View Internship Completion certificate</button></a>
                                <div class="education">
                                    <p class="roboto-slab-regular">Education</p>
                                    <p class="roboto-slab-regular">I have completed my junior college from DR Ambedkar Junior College Nagpur , scoring a total of 86.33% in my HSC Boards , completed my schooling from St.Aloysius English Medium School Yavatmal with a score of 95.86% in my CBSE.</p>
                                </div>
                                <p class="roboto-slab-regular">Along with this I also love to code regularly on platforms such as leetcode where I have solved a good number of problems (150+)</p>
                            </div>
                    </div>
                    </div>
                </section>
                <div class="skills-sec" id="skills-display">
                    <div class="skills-heading">
                        <span class="roboto-slab-bold">Skills</span>
                        <hr>
                    </div>
                    <div class="skills-cards">
                        <div class="scroll">
                            <img src="/images/html.png" alt="" class="scroll-item" >
                                <img src="/images/css.png" alt=""class="scroll-item" >
                                <img src="/images/js.png" alt=""class="scroll-item" >
                                <img src="/images/bootstrap.png" alt="" class="scroll-item">
                                <img src="/images/node.png" alt="" class="scroll-item">
                                <img src="/images/django.png" alt="" class="scroll-item">
                                <img src="/images/express.png" alt=""class="scroll-item">
                                <img src="/images/java.png" alt="" class="scroll-item">
                                <img src="/images/mongo.png" alt="" class="scroll-item">
                                <img src="/images/mysql.png" alt="" class="scroll-item">
                                <img src="/images/linuxskill.png" alt="" class="scroll-item">
                                <img src="/images/github.png" alt="" class="scroll-item">
                                <img src="/images/figma.png" alt="" class="scroll-item">
                                <img src="/images/jira.png" alt="" class="scroll-item">
                                <img src="/images/aws.png" alt="" class="scroll-item">
                                <img src="/images/css.png" alt=""class="scroll-item" >
                                <img src="/images/js.png" alt=""class="scroll-item" >
                                <img src="/images/bootstrap.png" alt="" class="scroll-item">
                                <img src="/images/node.png" alt="" class="scroll-item">
                                <img src="/images/django.png" alt="" class="scroll-item">
                                <img src="/images/express.png" alt=""class="scroll-item">
                                <img src="/images/java.png" alt="" class="scroll-item">
                                <img src="/images/mongo.png" alt="" class="scroll-item">
                                <img src="/images/mysql.png" alt="" class="scroll-item">
                                <img src="/images/linuxskill.png" alt="" class="scroll-item">
                                <img src="/images/github.png" alt="" class="scroll-item">
                                <img src="/images/figma.png" alt="" class="scroll-item">
                                <img src="/images/jira.png" alt="" class="scroll-item">
                                <img src="/images/aws.png" alt="" class="scroll-item">
                        </div>
                    </div>
                </div>
                <div class="project-sec" id="project-display">
                    <div class="project-header">
                        <span class="roboto-slab-bold">Projects</span>
                        <hr>
                    </div>
                    <br><br>
                    <div class="project-cards">
                        <div class="project-card1">
                            <div class="project-img">
                                <img src="/images/digifarmer.jpg" alt="" style="width: 100% ; border-radius:20px 20px 0px 0px;">
                            </div>
                            <div class="project-desc">
                                <p class="roboto-slab-regular">This is a web based application which provides support to farmers in various ways such as government schemes assistance , tractor booking , labout connect ang many more.</p>
                            </div>
                            <div class="project-btn" style="padding: 20px;">
                                <button class="roboto-slab-light">More</button>
                            </div>
                        </div>
                        <div class="project-card2">
                            <div class="project-img">
                                <img src="/images/chatbotapp.jpg" alt="" style="width: 100% ; border-radius:20px 20px 0px 0px;">
                            </div>
                            <div class="project-desc">
                                <p class="roboto-slab-regular">This is a web based application which includes assistance about various government schemes focusing on categories such as farmers , women , education and healthcare , implemented using a Rule-Based chatbot</p>
                            </div>
                            <div class="project-btn">
                                <button class="roboto-slab-light">More</button>
                            </div>
                        </div>
                        <div class="project-card3">
                            <div class="project-img">
                                <img src="/images/airbnb.jpg" alt="" style="width: 100% ; border-radius:20px 20px 0px 0px;">
                            </div>
                            <div class="project-desc">
                                <p class="roboto-slab-regular">This a cloned website similar to AirBnb , showcasing the apartments and houses on rents , including the facilities like booking adding property etc.</p>
                            </div>
                            <div class="project-btn" style="padding: 33px;">
                                <button class="roboto-slab-light">More</button>
                            </div>
                        </div>
                        <div class="project-card3">
                            <div class="project-img">
                                <img src="/images/airbnb.jpg" alt="" style="width: 100% ; border-radius:20px 20px 0px 0px;">
                            </div>
                            <div class="project-desc">
                                <p class="roboto-slab-regular">This a cloned website similar to AirBnb , showcasing the apartments and houses on rents , including the facilities like booking adding property etc.</p>
                            </div>
                            <div class="project-btn" style="padding: 33px;">
                                <button class="roboto-slab-light">More</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-sec" id="contact-display">
                    <div class="contact-img">
                        <dotlottie-player class="contact-animate"
                        src="https://lottie.host/96f31665-d5d2-4a81-a6ca-41a76f2e64b5/pD0e0Whevr.lottie"
                        background="transparent"
                        speed="1"
                        style="width: 400px; height: 400px"
                        loop
                        autoplay
                      ></dotlottie-player>
                    </div>
                    <div class="contact-form">
                        <p class="roboto-slab-regular">Drop a message</p>
                        <form action="/" method="post">
                            <div class="form-name">
                                <label for="name"><p class="roboto-slab-regular" style="font-size: medium;">Name : </p></label>
                                <input type="text" name="name" id="name">
                            </div>
                            <div class="form-email">
                                <label for="email"><p class="roboto-slab-regular" style="font-size: medium;">Email : </p></label>
                                <input type="email" name="email" id="email">
                            </div>
                            <div class="form-message">
                                <label for="message"><p class="roboto-slab-regular" style="font-size: medium;">Enter your Message : </p></label>
                                <textarea name="message" id="message" rows="5" cols="50"></textarea>
                            </div>
                            <div class="submit-btn">
                                <button class="roboto-slab-light">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </section>
    <section>
        <footer>
            <div class="footer-cont" id="footer-display">
                <div class="header-socials">
                    <div class="mail">
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=sneharahate14@gmail.com">
                            <div class="icon">
                                <i class="fa-regular fa-envelope" style="color: #ffffff;"></i>
                            </div>
                        </a>
                        <span class="roboto-slab-light">Mail</span>
                    </div>
                    <div class="leetcode">
                        <a href="https://leetcode.com/u/Sneha_Rahate_1404/">
                            <div class="icon">
                                <i class="fa-solid fa-code"></i>
                            </div>
                        </a>
                        <span class="roboto-slab-light">Leetcode</span>
                    </div>
                    <div class="LinkedIn">
                        <a href="https://www.linkedin.com/in/sneharahate/">
                            <div class="icon">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>
                        </a>
                        <span class="roboto-slab-light">LinkedIn</span>
                    </div>
                    <div class="gitHub">
                        <a href="https://github.com/SnehaRahate1404">
                            <div class="icon">
                                <i class="fa-brands fa-github"></i>
                            </div>
                        </a>
                        <span class="roboto-slab-light">gitHub</span>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <section>
        <div class="certificates-overlay" id="overlay">
            <div class="certificates-lists">
                <h1 class="roboto-slab-bold">Certificates</h1>
                <button id="close-certificates">Close</button>
                <div class="certificates">
                    <div class="cert"><img src="/images/ibm.JPG" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/1stprize.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/ai application.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/django.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/ds.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/git.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/github_batch.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/html.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/html_batch.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/IMG_20250205_114234.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/IMG_20250205_114251.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/IMG_20250205_114310.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/linux.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/microsoft.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/se.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/softskills.jpg" alt="" style="width: 300px;"></div>
                    <div class="cert"><img src="/images/paper.jpg" alt="" style="width: 300px;"></div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/script.js"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>